@charset "UTF-8";

*{
    padding: 0;
    margin: 0;    
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --bg-color: #fff;
    --text-color: #333;
    --main-color: #6fa0ca;
    --two-color: #187cb1;
    --three-color: #ddd0bb;
    --white-color: #fdfdfd;
    --four-color: #cde7fc;
    --icon-color: #c6b69c;
    --shadow-color: rgba(0, 0, 0, .2);
}

.dark-mode{
    --bg-color: #11111a;
    --text-color: #fdfdfdfd;
    --main-color: #7ecdfa;
    --two-color: #b8e9fe;
    --icon-color: #ddd0bb;
    --shadow-color: rgba(0, 0, 0, .7);
}


/*barra de rolagem*/
::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-thumb{
    width: 0.5rem;
    height: 10px;
    background-color:var(--icon-color) ;
    border-radius: 2rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color) ;
} 

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;  
}

.logo img{
    width: 5%;
    margin-left: 2rem;
}

.navbar a{
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

/*mudança no cabeçalho de acordo com o movimento*/
.header.sticky .navbar a{
    color: var(--text-color);
}

.header.sticky .navbar a.active{
    color: var(--main-color);
}

.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px; /*linha abaixo dos hiperlinks*/
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: .7;
}

/*Modo escuro*/
#darkMode-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

/*Mudança de cor do ícone, de acordo com o cabeçalho*/
.header.sticky #darkMode-icon{
    color: var(--text-color);
    opacity: .9;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home{
    display: flex;
    align-items: center;
}

.home .home-content{
    max-width: 44rem;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
    margin-bottom: 1.5rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
    color: var(--two-color);
}

.home-content p{
    font-size: 1.6rem;
    text-align: justify;
    font-weight: 550;
}

/*icones das redes sociais*/
.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--two-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--two-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover{
    background-color: var(--two-color);
    color: var(--white-color);
}

/*botão currículo*/
.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow:  0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    border: .2rem solid transparent;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    background-color: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite; /* animação da rotação */
}

/* rotação das profissões */
@keyframes professionRotate{
    0%,20%{
        transform: rotate(0deg);
    } 
    25%,45%{
        transform: rotate(-90deg);
    } 
    50%,70%{
        transform: rotate(-180deg);
    } 
    75%,95%{
        transform: rotate(-270deg);
    } 
    100%{
        transform: rotate(-360deg);
    } 
}

.home .profession-box .profession{
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg /4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

/*Organização das habilidades*/
.home .profession-box .profession:nth-child(1) i{
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4){
    padding-bottom: 20px;
}


.home .profession i{
    font-size: 3.8rem
}

.home .profession h3{
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 600;
}

/*círculo de habilidades*/
.home .profession-box .circle{
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

/*forma da landing page*/
.home .profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img{
    position:relative;
    bottom: 0;
    right: 0;
    width: 50%;
    margin-left: 50rem;
    margin-top: -25rem;
    pointer-events: none;
}

span{
    color: var(--main-color);
}

/*Sobre mim*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img{
    width: 60vh;
}

.heading{
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    font-weight: 550;
    text-align: justify;
}

/*Meus Serviços(cards)*/
.services{
    min-height: auto;
    padding-bottom: 2.3rem;
    padding-top: 5rem;
}

.services h2{
    margin-bottom: 5rem;
}

.services .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding:  3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--two-color);
    border-bottom: .6rem solid var(--two-color);
    transition: .5s ease;
}

.services-container .services-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02); /*hover dos cards*/
}

.services-box i{
    font-size: 7rem;
    color: var(--icon-color);
}

.services-box h3{
    font-size: 2.6rem;
    color: var(--two-color);
}

.services-box:hover h3{
    color: var(--main-color);
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    text-align: justify;
    font-weight: 600;
}

.services-box a i{
    font-size: 2rem;
}

/*Portifólio*/
.portfolio{
    padding-bottom: 2rem;
}

.portfolio h2{
    margin-bottom: 1rem;
}

.portfolio p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    font-weight: 550;
    text-align: center;
}

.photography-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.photography-media a:hover{
    background-color: var(--main-color);
    color: var(--white-color);
}

.portfolio h3{
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #95a678;
}

.languages {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    margin-left: 1rem;
    
}
.portfolio .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 2rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.102);
    overflow: hidden;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

/*Gradiente, texto e ícone*/
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .6), #1f5b94);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0; /*para o texto sumir enquanto o cursor ñ estiver em cima da imagem*/
    transform: .5s ease ;
}

.portfolio-box:hover .portfolio-layer{
    opacity: 1; /*para o texto aparecer quando o cursor passar na imagem*/
}

.portfolio-layer h4{
    font-size: 2rem;
    text-align: justify;
    margin: 2rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    text-align: left;
}

.portfolio-layer i{
    font-size: 3rem;
    color: #333;
    border: 1rem solid #fff;
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    background: #fff;
}

#js{
    padding-top: 1rem;
}

#photo{
    padding-top: 1rem;
}

/* Carrossel de feedback */
.testimonial-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
    margin-top: -2rem;
    
}

.testimonial-container .testimonial-wrapper{
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

/* Bordinha em volta do carroseel que barra o vazamento do loop */
.testimonial-wrapper .testimonial-box{
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.testimonial-content .testimonial-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--three-color);
    border-bottom: .8rem solid var(--three-color);
}

.testimonial-slide img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--three-color); /*para fazer um efeito de 2 bordas em volta da foto*/
}

.testimonial-slide h3{
    font-size: 2.5rem;
    margin: 2rem 0;
}

.testimonial-slide p{
    font-size: 1.4rem;
    text-align: justify;
    font-weight: 550;
}

/* Flecha de alternar imagem do carrossel */
.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev{
    color: var(--four-color);
}

.testimonial-box .swiper-button-next{
    right: 0;
}

.testimonial-box .swiper-button-prev{
    left: 0;
}

.testimonial-box .swiper-pagination-bullet{
    background: rgba(0, 0, 0, .8) ;
}

.testimonial-box .swiper-pagination-bullet-active{
    background: var(--main-color);
}

/* rodapé */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* para o rodapé não vazar */
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p{
    font-size: 1.5rem;
    color: var(--white-color);
    display: flex;
    font-weight: 600;
}

.footer .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2.1rem;
    color: #fff;
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.footer .social-media a:hover{
    background-color: var(--three-color);
    color: var(--main-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--three-color);
    border-radius: .8rem;
    border: .2rem solid var(--three-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    outline-color: var(--white-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: #421d88;
}

/* Responsividade */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }

    .home .profession-container{
        height: 85.8rem;
    }

    .home .profession-container .profession-box{
        right: -12rem;
        height: 85.8rem;
    }

    .home .profession-container .overlay{
        right: -9rem;
    }
}

@media (max-width: 1024px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    home .profession-container .profession-box{
        right: -22rem;
    }

    .home .profession-container .overlay{
        right: -15rem;
    }
}

@media (max-width: 991px){
    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--main-color);
    }

    .navbar a.active::before{
        background: var(--main-color);
        opacity: .7;
    }

    .home .home-content{
        max-width: 50rem;
    }

    .home .profession-container .profession-box{
        right: -45rem;
    }

    .home .profession-container .overlay{
        right: -39.5rem;
    }

    .home-img img{
        display: none;
    }

    .services,
    .portfolio{
        padding-bottom: 7rem;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block; /* para aparecer o hamburguer */
    }

    #darkMode-icon{
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--text-color);
    }

    .navbar a.active{
        color: var(--main-color); /* para mudar a cor de acordo com o click no link */
    }

    .navbar a::before{
        display: none; /* para remover a linha de indicação de link */
    }

    .home{
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
        margin-bottom: 5rem;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
        margin-top: 1rem;
    }

    .home-content .social-media a{
        margin: 2.5rem .75rem .3rem;
    }

    .btn{
        margin-top: 1.2rem;
    }

    .home .profession-container{
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .profession-container .profession-box{
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .home .profession-box .profession{
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .home .profession-box .profession:nth-child(1){
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .profession-box .profession:nth-child(1) i{
        margin-right: 0;
    }

    .home .profession-box .profession:nth-child(2){
        transform: rotate(0deg) translate(0, -335px);
    }

    .home .profession-box .profession:nth-child(3){
        transform: rotate(90deg) translate(-115px, -450px);
    }

    .home .profession-box .profession:nth-child(4){
        transform: rotate(180deg) translate(-220px, -335px);
    }

    .home .profession-box .circle{
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .profession-container .overlay{
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .about{
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2{
        text-align: center;
    }

    .about-img img{
        width: 70vw;
        margin-top: -2rem;
    }

    .services h2{
        margin-bottom: 3rem;
    }

    .portfolio h2{
        font-size: 3rem;
    }

    .portfolio .portfolio-container{
        grid-template-columns: repeat(2, 1fr); /* para distribuir melhor as imagens */
    }

    .testimonial-container .testimonial-wrapper{
        padding: 5rem 0;
    }

    .testimonial-content .testimonial-slide{
        padding: 3rem 2rem;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev{
        display: none;
    }
}

@media (max-width: 617px){
    .portfolio .portfolio-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    #darkMode-icon{
        right: 6rem;
    }

    .home{
        padding: 0 3% 30rem;  
    }

    .home .profession-box .profession:nth-child(1){
        transform: rotate(-90deg) translate(-110px, -220px);
    }

    .home .profession-box .profession:nth-child(2){
        transform: rotate(0deg) translate(5px, -335px);
    }

    .home .profession-box .profession:nth-child(3){
        transform: rotate(90deg) translate(-105px, -440px);
    }

    .home .profession-box .profession:nth-child(4){
        transform: rotate(180deg) translate(-210px, -335px);
    }
}

@media (max-width: 365px){
    .about-img img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}
